*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.hd{
    margin-top: 10px;
    background-color: silver;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;   
    height: 10vh; 
}
.hy{
    margin-left: 10px;
}
.hb{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hb a{
    text-decoration: none;
    margin-right: 20px;
    color: black;
    transition: font-size color 0.5s;
}
.hb a:hover{
    font-size: 33px;
    color: white;
}
.hb li{
    display: inline-block;
    font-size: 30px;
}
.he{
    margin-right: 10px;
}
.hf{
    background-color: aquamarine;
    color: white;
    position: absolute;
    right: 7px;
    top: 20px;
    width: 15px;
    text-align: center;
    border-radius: 7px;
}
.books{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-left: 150px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.books p{
    margin-left: 20px;
}